<h2><%- title %></h2>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <%- messages() %>

<div class="deleteForm">
    <p>Confirm Deletion - The delete is permanent.</p>
<form action="/inv/delete" method="post">
  
    <label for="invMake">Make:</label>
    <input type="Text" id="invMake" name="inv_make" required value="<%= locals.inv_make %>" pattern="[a-zA-Z0-9-/s]{2,}" placeholder="min 3 letters, no space">
    <label for="invModel">Model:</label>
    <input type="Text" id="invModel" name="inv_model" required value="<%= locals.inv_model %>" pattern="[a-zA-Z0-9-/s]{3,}" placeholder="min 3 letters">
    
    <label for="invPrice">Price:</label>
    <input type="number" id="invPrice" name="inv_price" required value="<%= locals.inv_price %>" pattern="[1-9]{3,}" placeholder="Decimal or integer">
    <label for="invYear">Year:</label>
    <input type="number" min="1800" max="2023" step="1" id="invYear" name="inv_year" required value="<%= locals.inv_year %>" pattern="[0-9]{4}" placeholder="4 digits year from 1800-2023">
      
    
    <input type="submit" value="Delete Inventory" id="btn">

    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"<% } %>>
</form>
</div>