<h2><%- title %></h2>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <%- messages() %>
   
<div class="deleteForm">
    <p>Confirm Deletion - The delete is permanent.</p>
<form action="/account/delete" method="post">
    <label for="firstName">First Name:</label>
    <input type="Text" id="firstName" name="account_firstname" required value="<%= locals.account_firstname %>">
    <label for="lastName">Last Name:</label>
    <input type="Text" id="lastName" name="account_lastname" required value="<%= locals.account_lastname %>">
    <label for="accountEmail">Email:</label>
    <input type="email" id="accountEmail" name="account_email" required placeholder="Enter a valid email address" value="<%= locals.account_email %>">
    <input type="submit" value="Delete Account" id="deletebtn">
    
    <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"<% } %>>
</form>
</div>
